body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}
.hero-section {
    background-color: #1f2937;
    width: auto;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.logo {
    font-weight: bold;
    color: #e5e7eb;
    font-size: 24px;
    margin: 10px;
}
.nav-links {
    display: flex;
    list-style: none;
    padding: 0;
    gap: 22px;
}
.nav-links a {
    color: rgba(248, 248, 248, 0.8);
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
    margin-right: 10px;
}
.hero-content {
    display: flex;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}
.hero-text {align-items: center;
    padding: 50px;
    width: 50%;
    flex: 1;


}
.hero-text h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}
.hero-text p {
    font-size: 20px;
    color: #e5e7eb
}
.cta-button {
    background-color: #3882f6;
    color: #f8f8f8;
    cursor: pointer;
    border-radius: 15px;
    padding: 10px 20px;
    border: none;
}
.cta-button:hover {
    background-color: #2563eb;
}
.hero-image {
    width: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 30px;
}
.hero-image img {

    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.hero-services-text {
    text-align: center;
}
.hero-services-text h2 {
    font-size: 36px;
    color: #1f2937;
    margin-bottom: 10px;
}
.hero-services-text p {
    font-size: 18px;
    color: #4b5563;
    max-width: 600px;
    margin: 0 auto;
}
.hero-services {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 20px;
    margin: 10px;
}
.service-item {flex: 1;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.service-item h3 {
    font-size: 24px;
    color: #1f2937;
    font-weight: bold;
}
.service-item img {
    border-radius: 10px;
    border: 3px solid #e5e7eb;
}
#testimony-header {
    text-align: center;
    font-size: 36px;
    color: #1f2937;
    margin-top: 30px;
}
.hero-testimonials {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    padding: 70px;
    flex-wrap: wrap;
}
.testimonial-item {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 40px;
    width: 300px;
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.testimonial-item p {
    font-size: 18px;
    color: #4b5563;
    margin-bottom: 10px;
}
.testimonial-item span {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #1f2937;
}
.testimonial-item img {
    border-radius: 50%;
    margin-right: 10px;
}