body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}
.hero-section {
    background-color: #1f2937;
    width: 100%;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.logo {
    font-weight: bold;
    color: #e5e7eb;
    font-size: 24px;
    margin: 10px;
}
.nav-links {
    display: flex;
    list-style: none;
    padding: 0;
    gap: 22px;
}
.nav-links a {
    color: rgba(248, 248, 248, 0.8);
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
    margin-right: 10px;
}
.hero-content {
    display: flex;
    margin-top: 50px;

}
.hero-text {align-items: center;
    padding: 50px;
    width: 50%;


}
.hero-text h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}
.hero-text p {
    font-size: 20px;
    color: #e5e7eb
}
.cta-button {
    background-color: #3882f6;
    color: #f8f8f8;
    cursor: pointer;
    border-radius: 15px;
    padding: 10px 20px;
    border: none;
}
.cta-button:hover {
    background-color: #2563eb;
}

